:root {
  --primary-font: "Playfair Display SC", serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: rgb(42, 57, 47);
  --background-color: rgb(241, 228, 205);
}

.Weather {
  text-align: center;
}

body {
  background-color: var(--background-color);
}
h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 20px 40px;
  background-color: white;
  border-radius: 6px;
  border-style: double;
  border-width: thick;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.entry {
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  padding: 8px;
  font-family: var(--secondary-font);
}

.search {
  color: var(--primary-color);
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  margin-left: 6px;
  padding: 4px;
  font-family: var(--primary-font);
}

form {
  text-align: center;
  font-size: larger;
}

.col-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 52px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
.unit {
  font-size: medium;
  position: relative;
  bottom: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

.description {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
ul {
  list-style: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
li:first-letter {
  text-transform: capitalize;
}

footer {
  margin: 40px;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
